{% if article and article != empty %}
    {% if show_image %}
        <div class='footer-blog-post__madia-wrapper'>
            <picture class='footer-blog-post__media media media__size--{{ image_size }}'>
                {% render 'image', image_box: article.image, image_box_class: 'footer-blog-post__image' %}
            </picture>
        </div>
    {% endif %}
    <div class='footer-blog-post__content'>
        {% if show_date %}
            <span class='footer-blog-post__date'>{{ article.published_at | time_tag: format: 'date' }}</span>
        {% endif %}
        <h4 class='footer-blog-post__title'>
            <a href='{{ article.url }}'>
                {{ article.title | truncate: 30 | escape }}
            </a>
        </h4>
    </div>
{% endif %}
