.sticky-header-false {
    position: relative!important;
}

.header-wrapper {
    z-index: 10;
    width: 100%;
    display: block;
    background-color: var(--header-background-color);
    top: 0;
}

.header-wrapper.show {
    position: fixed;
    top: 0;
    box-shadow:0 .4rem .5rem rgba(0,0,0,.1);
}

.header-wrapper.show {
    background-color: var(--header-background-color);
}

.header__icon-box,
.header__menu--overlay {
    display: none;
}

.icon-close {
    pointer-events: none;
}

.header {
    position: relative;
    color: var(--header-text-color);
    transition: background-color 0.4s;
    min-height: 6rem;
}

.header__wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    min-height: 6rem;
}

.header__logo-wrapper {
    width: 100%;
}

.header__logo {
    width: 100%;
    height: auto;
    max-width: var(--header-logo-width);
}

.header__heading {
    margin: 0;
    line-height: 0;
}

.header__menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 -1rem;
}

.header__menu-item {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.header__menu--right .header__menu-item {
    position: relative;
    > a.header__menu-item-link {
        display: block;
    }
    .icon {
        font-size: 2rem;
        vertical-align: middle;
        pointer-events: none;
    }
}

.header__menu--right .header__menu-item--search {
    position: static;
}

.header__menu-item-link {
    color: var(--header-text-color);
    text-decoration: none;
}

.header__menu.header__menu--right .header__icons-wrapper {
    justify-content: flex-end;
}

.header__icons-wrapper {
    display: flex;
    margin: 0 -1rem;
}

.header__icon-wrapper {
    padding: 0 1rem;
}

.header__icon-link {
    position: relative;
}

.header__icon-link .icon {
    display: block;
    transition: opacity 0.4s;
}

.header__icon-link.open .icon {
    opacity: 0;
}

.header__menu-item-text {
    display: none;
}

@media screen and (min-width: 750px) {
    .header__logo-wrapper {
        min-width: 0;
    }
}

@media screen and (min-width: 992px) {
    .header__menu {
        display: block;
        width: 100%;
    }

    .header__logo-wrapper.header__logo-wrapper--left {
        order: -1;
        width: 100%;
        max-width: 100%;
    }

    .header__menu.header__menu--right .header__menu-list {
        justify-content: flex-end;
    }
}

details-open {
    display: block;
}

#settingsBox, 
#userLinks {
    background: var(--header-search-background-color);
    text-align:left; 
    box-shadow:0 .4rem .5rem rgba(0,0,0,.1); 
    transition:all 0.3s ease; 
}

#settingsBox,
#userLinks { 
    visibility:hidden; 
    opacity:0; 
    padding:2rem; 
    min-width:15rem; 
    position:absolute; 
    top:100%;
    margin-top: 3.3rem;
    right:1.5rem; 
    z-index:-99;
    text-transform: none;
}

#settingsBox { 
    min-width: 30rem;
}

details-open.open #settingsBox, 
details-open.open #userLinks { 
    visibility:visible; 
    opacity:1; 
    top:100%;
    margin-top: 1.9rem;
    z-index:99;
}

#settingsBox .btn { 
    width:100%;
}

#userLinks ul { 
    list-style:none; 
    padding:0; 
    margin:0; 
}

#userLinks ul li {
    display:block; 
}

#userLinks ul li+li {
    margin-top: 1rem;
}

#userLinks li a { 
    padding:0; 
    display:block; 
    text-transform: none;
    font-size: 1.2rem;
    line-height: 2rem;
    text-decoration: none;
}

#settingsBox .currency-picker { 
    margin-bottom: 1rem; 
}

.header__menu-select {
    padding-left: 0;
    list-style: none;
}

.header__menu-select li { 
    display:inline-block; 
    margin:0 5px 5px 0; 
    cursor:pointer; 
}

.header__menu-select li a { 
    color:var(--color-link-text); 
    display:block; 
    font-size:12px; 
    text-transform:uppercase; 
    padding:1px 10px; 
    opacity:0.6; 
    border:1px solid var(--color-input-border); 
    background:var(--color-input-background);
    text-decoration: none;
}

.header__menu-select li a:hover,
.header__menu-select li a.active,
.header__menu-select li a:focus { 
    color:#fff; 
    opacity:1; 
    text-decoration:none; 
    background:var(--color-secondary-button-background); 
}

