.cookie-policy {
    z-index: 10;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 25px;
    background-color: var(--cookie-policy-background-color);
    color: var(--cookie-policy-text-color);
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 0.4s;
}

.cookie-policy.cookie-policy--show {
    opacity: 1;
    visibility: visible;
}

.cookie-policy.cookie-policy--option-2 {
    left: 0;
    right: auto;
    max-width: 426px;
}

.cookie-policy.cookie-policy--option-2 .cookie-policy__wrapper {
    flex-direction: column;
}

.cookie-policy.cookie-policy--option-2 .cookie-policy__text-wrapper {
    margin-bottom: 32px;
    padding-right: 0;
}

.cookie-policy__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cookie-policy__text-wrapper {
    margin-bottom: 32px
}

.cookie-policy.cookie-policy--option-2 .cookie-policy__title {
    margin-bottom: 1rem;
    
}

.cookie-policy__title {
    margin-top: 0;
    margin-bottom: 9px;
    color: var(--cookie-policy-title-color);
}

.cookie-policy__text p {
    margin: 0;
}

.cookie-policy__text a {
    color: inherit;
}

.cookie-policy__text a:focus-visible {
  outline-color: var(--color-reverse);
}

.cookie-policy .button.button--primary {
    border-color: inherit;
    color: inherit;
}

.cookie-policy__button:focus-visible {
  outline-color: var(--color-reverse);
}

@media screen and (min-width: 750px) {
    .cookie-policy {
        padding: 16px 0;
    }

    .cookie-policy.cookie-police--option-2 {
        padding-right: 25px;
    }

    .cookie-policy__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .cookie-policy__text-wrapper {
        margin-bottom: 0;
        padding-right: 20px;
    }

    .cookie-policy.cookie-police--option-2 .cookie-policy__text-wrapper {
        margin-bottom: 48px;
    }

    .cookie-policy__title {
        margin-bottom: 5px;
    }

    .cookie-policy__title {
        //font-size: 1.2rem;
        //line-height: 1;
        text-transform: uppercase;
    }
}
