.rich-text {
    background: var(--background-color-rich-text);
    padding-top: calc(.7*var(--pad-top-rich-text));
    padding-bottom: calc(.7*var(--pad-bot-rich-text));
    color: var(--text-color-rich-text);
    .container {
        max-width: var(--width-rich-text);
    }
    &.full_width--true {
        .container {
            max-width: 100%;
        }
    }
    h2 {
        color: var(--title-color-rich-text);
    }
    .button {
        text-decoration: none;
        background-color: var(--btn_bg_color-rich-text);
        border-color: var(--btn_bg_color-rich-text);
        color: var(--btn_link_color_hover-rich-text);
        &.button--outline {
            background: none;
            color: var(--btn_bg_color-rich-text);;
        }
    }
    
    .button:hover,
    .button:focus {
        background-color: var(--btn_bg_color_hover-rich-text);
        border-color: var(--btn_bg_color_hover-rich-text);
        color: var(--btn_link_color_hover-rich-text);
    }
    .button--outline.button:hover,
    .button--outline.button:focus{
        background: none;
        color: var(--btn_bg_color_hover-rich-text);
    }
    &.text-alignment--left {
        .rich-text__blocks {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        h2 {
            flex-basis: 35%;
            padding-right: 3rem;
        }
       
        .rich-text__text {
            flex-basis: 50%;
            padding-right: 3rem;
            margin-top: 0;
            p:last-child {
                margin-bottom: 0;
            }
        }
        .button {
            flex-basis: auto;
            margin-top: 0;
            margin-left: auto;
        }
        @media (min-width: 991px) and (max-width: 1199px) {
            h2 {
                flex-basis: 40%;
                padding-right: 2rem;
            }
        
            .rich-text__text {
                flex-basis: 40%;
                padding-right: 2rem;
                margin-top: 0;
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
        @media (min-width: 768px) and (max-width: 990px) {
            h2 {
                flex-basis: 50%;
                padding-right: 2rem;
            }
        
            .rich-text__text {
                flex-basis: 50%;
                padding-right: 2rem;
                margin-top: 0;
                p:last-child {
                    margin-bottom: 0;
                }
            }
            .button { 
                margin-left: 0;
                margin-top: 2rem;
            }
        }
        @media (min-width: 320px) and (max-width: 767px) { 
            .rich-text__blocks {
                display: block;
            }
            .rich-text__text { 
                margin-top: 1rem;
            }
            .button { 
                margin-left: 0;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .rich-text {
        padding-top: var(--pad-top-rich-text);
        padding-bottom: var(--pad-bot-rich-text);
    }
}

.rich-text__blocks * {
    overflow-wrap: break-word;
}

/* Blocks */

.rich-text__blocks > * {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: none;
}

.rich-text__blocks > * + * {
    margin-top: 1rem;
}

.rich-text__blocks > * + a {
    margin-top: 2rem;
}
