.sticky-header-false {
    position: relative!important;
}

.header-wrapper {
    z-index: 10;
    width: 100%;
    display: block;
    background-color: var(--header-background-color);
    top: 0;
}

.header-wrapper.show {
    position: fixed;
    top: 0;
    box-shadow:0 .4rem .5rem rgba(0,0,0,.1);
}

.header-wrapper.show {
    background-color: var(--header-background-color);
}

.header__icon-box,
.header__menu--overlay {
    display: none;
}

.icon-close {
    pointer-events: none;
}

.header {
    position: relative;
    color: var(--header-text-color);
    transition: background-color 0.4s;
    min-height: 6rem;
}

.header__wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    min-height: 6rem;
}

.header__logo-wrapper {
    width: 100%;
}

.header__logo {
    width: 100%;
    height: auto;
    max-width: var(--header-logo-width);
}

.header__heading {
    margin: 0;
    line-height: 0;
}

.header__menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0 -1rem;
}

.header__menu-item {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.header__menu--right .header__menu-item {
    position: relative;
    .header__menu-item-link {
        display: block;
        &:hover {
            path {
                fill: var(--color-link-hover-text);
            }
        }
    }
    .icon {
        font-size: 2rem;
        width: 2rem;
        height: 2.1rem;
        vertical-align: middle;
        pointer-events: none;
        
    }
}

.header__menu--right .header__menu-item--search {
    position: static;
}

.header__menu-item-link {
    color: var(--header-text-color);
    text-decoration: none;
}

.header__menu.header__menu--right .header__icons-wrapper {
    justify-content: flex-end;
}

.header__icons-wrapper {
    display: flex;
    margin: 0 -1rem;
}

.header__icon-wrapper {
    padding: 0 1rem;
}

.header__icon-link {
    position: relative;
}

.header__icon-link .icon {
    display: block;
    transition: opacity 0.4s;
}

.header__icon-link.open .icon {
    opacity: 0;
}

.header__menu-item-text {
    display: none;
}

@media screen and (min-width: 750px) {
    .header__logo-wrapper {
        min-width: 0;
    }
}

@media screen and (min-width: 992px) {
    .header__menu {
        display: block;
        width: 100%;
    }

    .header__logo-wrapper.header__logo-wrapper--left {
        order: -1;
        width: 100%;
        max-width: 100%;
    }

    .header__menu.header__menu--right .header__menu-list {
        justify-content: flex-end;
    }
}

details-open {
    display: block;
}

#settingsBox, 
#userLinks {
    background: var(--header-search-background-color);
    text-align:left; 
    box-shadow:0 .4rem .5rem rgba(0,0,0,.1); 
    transition:all 0.3s ease; 
}

#settingsBox,
#userLinks { 
    visibility:hidden; 
    opacity:0; 
    padding:2rem; 
    min-width:15rem; 
    position:absolute; 
    top:100%;
    margin-top: 3.3rem;
    right:1.5rem; 
    z-index:-99;
    text-transform: none;
}

#settingsBox { 
    min-width: 30rem;
    span {
        display: block;
        margin-top: 0;
    }
}

details-open.open #settingsBox, 
details-open.open #userLinks { 
    visibility:visible; 
    opacity:1; 
    top:100%;
    margin-top: 1.9rem;
    z-index:99;
}

#settingsBox .btn { 
    width:100%;
}

#userLinks ul { 
    list-style:none; 
    padding:0; 
    margin:0; 
}

#userLinks ul li {
    display:block; 
}

#userLinks ul li+li {
    margin-top: 1rem;
}

#userLinks li a { 
    padding:0; 
    display:block; 
    text-transform: none;
    font-size: 1.2rem;
    line-height: 2rem;
    text-decoration: none;
}

#settingsBox .currency-picker { 
    margin-bottom: 1rem; 
}

.header__menu-select {
    padding-left: 0;
    list-style: none;
}

.header__menu-select li { 
    display:inline-block; 
    margin:0 5px 5px 0; 
    cursor:pointer; 
}

.header__menu-select li a { 
    color:var(--color-link-text); 
    display:block; 
    font-size:12px; 
    text-transform:uppercase; 
    padding:1px 10px; 
    opacity:0.6; 
    border:1px solid var(--color-input-border)!important;
    background:var(--color-input-background);
    text-decoration: none;
}

.header__menu-select li a:hover,
.header__menu-select li a.active,
.header__menu-select li a:focus { 
    color:#fff; 
    opacity:1; 
    text-decoration:none; 
    background:var(--color-secondary-button-background);
}

.header__logo-link {
    display: inline-block;
}

//style header
.style-simple, .style-simple-logo-center {
    &.sticky-header-false {
        box-shadow:none;
    }
    position: relative;
    box-shadow: none;
    &.sticky-header-true {
        .header-main.scrolled-past-header {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            box-shadow:0 .4rem .5rem rgba(0,0,0,.1);
            background-color: var(--header-background-color);
            .minimal-logo-col,
            .minimal-elements-col {
                display: flex!important;
                opacity: 1;
                z-index: auto;
            }
        }
    }
    &.sticky-header-false {
        .header-main {
            position: relative!important;
            width: 100%;
            left: 0;
            top: 0;
            box-shadow:none;
            background-color: transparent;
        }
    }
    @media screen and (min-width: 992px) {
        &.transparent-header {
            position: absolute!important;
            left: 0;
            top: 0;
            width: 100%;
            background: none;
        }
    }
}
.style-simple-logo-center {
    @media screen and (min-width: 992px) {
        .header__logo-wrapper {
            text-align: center;
        }
    }
}

.style-minimal {
    .header-main {
        padding: 0;
    }

    .header-menu-outer {
        position: relative;
        min-height: 6rem;
        .header__logo-wrapper {
            text-align: left;
        }
    }

    details-open.open #settingsBox, details-open.open #userLinks {
        margin-top: 1.9rem;
    }

    .minimal-social-col {
        display: none!important;
    }

    .list-social {
        display: flex;
        .list-social__item {
            margin-right: 12px;
        }
        .list-social__link {
            display: block;
            transform: scale(1);
            transition: all .3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
        svg {
            width: 2rem;
            height: 2rem;
            vertical-align: middle;
        }
    }

    
    .header-wrap {
        display: none!important;
    }
    @media screen and (min-width: 992px) {
        .header-main {
            padding-bottom: 0;
            padding-top: 1.5rem;
        }
        .minimal-social-col {
            display: flex!important;
        }

        .header__logo-wrapper {
            text-align: center;
        }

        .header__menu {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .mega-menu__width--two-third .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }
    
        .mega-menu__width--one-half .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }
    
        .mega-menu__width--one-third .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }
    
        .mega-menu__width--one-quarter .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }

        .simple-menu.mega-menu--open {
            margin-top: 2rem;
        }
        
        .header-wrap {
            margin-bottom: .5rem;
            display: flex!important;
        }

        .minimal-logo-col,
        .minimal-elements-col {
            display: flex!important;
        }
        .minimal-logo-col,
        .minimal-elements-col {
            opacity: 0;
            z-index: -1;
        }
    }
    .header-menu-outer {
        display: block;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }
    position: relative;
    box-shadow: none;
    &.sticky-header-true {
        .header-menu-outer.scrolled-past-header {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            box-shadow:0 .4rem .5rem rgba(0,0,0,.1);
            background-color: var(--header-background-color);
            .minimal-logo-col,
            .minimal-elements-col {
                display: flex!important;
                opacity: 1;
                z-index: auto;
            }
        }
    }
    &.sticky-header-false {
        .header-menu-outer {
            position: relative!important;
            width: 100%;
            left: 0;
            top: 0;
            box-shadow:none;
            background-color: transparent;
        }
    }
   
    @media screen and (min-width: 992px) {
        &.transparent-header {
            position: absolute!important;
            background-color: transparent;
            .header-wrap {
                border-bottom: none;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }
}

.style-multi-row {
    .top-header,.header-wrap {
        display: none!important;
    }

    .header-menu-outer {
        padding: 1.5rem 0;
        min-height: 6rem;
    }
    details-open.open #settingsBox, details-open.open #userLinks {
        margin-top: 1.7rem;
    }

    @media screen and (min-width: 992px) {
        .top-header,.header-wrap {
            display: flex!important;
        }
        details-open.open #settingsBox, details-open.open #userLinks {
            margin-top: 1.9rem;
        }
        .header-wrap {
            padding-bottom: 2.5rem;
            padding-top: 2.5rem;
            border-bottom: 1px solid var(--header-line-color);
            background-color: var(--header-background-color);
        }

        .header-menu-outer {
            background-color: var(--header-background-color);
            .header__logo-wrapper {
                display: none;
            }
            position: relative;
            &:before {
                //content: "";
                box-shadow: inset 0 12px 12px 5px var(--header-line-color);
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: .3;

            }
            .header__menu-item--user
             {
                display: none;
            }
        }

        .header__menu--list {
            .header__menu-item {
                text-transform: none;
                font-size: 1.2rem;
                line-height: 1.4rem;
                border-left: 1px solid var(--header-line-color);
                a {
                    text-decoration: none;
                }
                &:first-child {
                    border:none;
                }
            }
        }

        .mega-menu__width--two-third .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }
    
        .mega-menu__width--one-half .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }
    
        .mega-menu__width--one-third .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }
    
        .mega-menu__width--one-quarter .mega-menu {
            &.mega-menu--open {
                margin-top: 2rem;
            }
        }

        .simple-menu.mega-menu--open {
            margin-top: 2rem;
        }

        .top-header {
            padding: 1rem 0;
            background: var(--color-light);
        }

        .top-header__info {
            margin: 0;
            list-style: none;
            padding: 0;
            display: flex;
            align-items: center;
            color: var(--color-body-text);

            li {
                font-size: 12px;
                margin-right: 2rem;
                line-height: 2rem;
            }

            a {
                color: var(--color-body-text);
                text-decoration: none;
                display: inline-block;
                &:hover {
                    color: var(--color-link-hover-text);
                }
            }

            svg {
                width: 18px;
                height: 18px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 4px;
            }

            .icon-envelope {
                width: 20px;
                height: 20px;
            }
             
            .icon-envelope,
            .icon-calendar,
            .icon-phone {
                position: relative;
                top: -2px;
            }
        }

        .top-header__icon-blocks {
            display: flex;
            align-items: center;
            font-size: 12px;
            line-height: 20px;

            .top-icon-button {
                padding-left: 20px;

                svg {
                    width: 2rem;
                    height: 2rem;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 4px;
                }

                a {
                    text-decoration: none;
                    display: block;
                    color: var(--color-body-text);
                    &:hover {
                        color: var(--color-link-hover-text);
                    }
                }

                .text {
                    font-style: normal;
                    margin-right: 4px;
                }

                span {
                    font-size: 13px;
                    display: inline-block;
                    line-height: 20px;
                    text-align: center;
                    padding: 0 0;
                    width: 20px;
                    border-radius: 50px;
                    background: var(--color-info);
                    margin-left: 4px;
                    color: var(--color-dark);
                }

                .compare_total {

                    svg {
                        width: 22px;
                        height: 22px;
                        position: relative;
                        top: -1px;
                    }
                }
            }
        }
        
    }
    position: relative;
    box-shadow: none;
    &.sticky-header-true {
        .header-menu-outer.scrolled-past-header {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            box-shadow:0 .4rem .5rem rgba(0,0,0,.1);
            background-color: var(--header-background-color);
        }
    }
    &.sticky-header-false {
        .header-menu-outer {
            position: relative!important;
            width: 100%;
            left: 0;
            top: 0;
            box-shadow:none;
            background-color: transparent;
        }
    }
   
    @media screen and (min-width: 992px) {
        &.transparent-header {
            position: absolute!important;
            background-color: transparent;
            .header-wrap {
                border-bottom: none;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                background-color: transparent;
            }
            .header-menu-outer {
                background-color: transparent;
            }
        }
    }
}

.sticky-header-placeholder {
    display: none;
}

.scrolled-past-header+.sticky-header-placeholder {
    display: block;
}

.sticky-header-false {
    .sticky-header-placeholder {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #MainContent {
        padding-top: var(--top-header-height);
    }
}

@media screen and (max-width: 991px) {
    .header__menu-item--user,
    .header__menu-item--params {
        display: none;
    }
}