.main-password {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    flex-flow: column;
    padding: 2rem 0;
    
    .container {
        overflow: auto;
    }
    h2 {
        margin-bottom: 1rem;
    }
    h3 {
        text-transform: none;
    }
}

.main-password__content { 
    background-color: rgba(#fff, .7);
    padding: 3rem;
    @media all and (max-width: 767px) {
        padding: 2rem;
       text-align: center;
    }
}

.main-password__form {
    margin-bottom: 3rem;
    input {
        height: 40px;
    }
    .errors {
        ul {
            list-style: none;
            li {
                color: var(--color-link-text);
            }
        }
    }
    @media all and (max-width: 767px) {
        margin: 0 auto 3rem;
        .btn {
            margin-top: 2rem;
        }
        input {
            width: 100%;
            max-width: 300px;
        }
    }
    form {
        @media all and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            input {
                margin: 0 auto;
            }
            .btn {
                flex-basis: auto;
                width: fit-content;
                margin: 2rem auto 0;
            }
        }
    }
}

.main-password__newslatter_form {
    margin-top: 4rem;
    .newsletter__form {
        margin-bottom: 2rem;
        max-width: 375px;
        @media all and (max-width: 767px) {
            margin: 0 auto 3rem;
        }
        .input-label {
            position: relative;
        }
        .label {
            display: none;
        }
    }
    
    .newsletter__button {
        border-radius: 0;
        position: absolute;
        right: 0.1rem;
        top: 0.1rem;
        bottom: 0.1rem;
    }
}

.social_memu {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social_memu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    @media all and (max-width: 767px) {
        justify-content: center;
    }
}

.social_memu ul li {
    margin-right: 0.8rem;
    text-align: center;
}

.social_memu ul li a {
    display: block;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100%;
    transform: scale(1);
    transition: all .3s ease;
}

.social_memu ul li a:hover {
    transform: scale(1.1);
}

.main-password__countdown_block {
    margin-top: 7rem;
    margin-bottom: 7rem;
    @media all and (max-width: 767px) {
        margin-top: 3rem;
        margin-bottom: 3rem;
        overflow: hidden;
    }
}

.flipdown.flipdown__theme-dark .rotor::after {
    border: none;
}

.rotor-group-heading {
    display: block!important;
    color: var(--color-body-text)!important;
    font-weight: 400;
    font-size: 18px;
}

.flipdown.flipdown__theme-dark .rotor-group-heading::before {
    color: var(--color-body-text)!important;
  }

.flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
    background: rgb(22,24,24);
    background: linear-gradient(0deg, rgba(22,24,24,1) 0%, rgba(46,49,49,1) 35%, rgba(52,73,94,1) 100%);
}

.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
    background: rgb(22,24,24);
    background: linear-gradient(180deg, rgba(22,24,24,1) 0%, rgba(46,49,49,1) 35%, rgba(52,73,94,1) 100%);
}

.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3)::before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3)::after {
    background-color: var(--color-dark);
}

@media (max-width: 550px) {
    .flipdown .rotor-group {
        padding-right: 15px;
    }
}

@media (max-width: 550px) {
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3)::before, .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3)::after {
        left: 66px;
    }
}

@media (max-width: 550px) {
    .flipdown .rotor-group-heading::before {
        font-size: 12px;
        height: 20px;
        line-height: 20px;
    }
}

.flipdown {
    width: auto;
    font-family: inherit;
}


.flipdown {
    @media (max-width: 767px) {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }
}

@media (max-width: 767px) {
    .flipdown .rotor-group:first-child {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
        .rotor-group-heading {
            flex-basis: 100%;
        }
    }
}
