.main-wishlist-page .product-list-container {
    margin: 0;
    display: block;
    .template-main-collection__item {
      max-width: 50%;
      width: 100%;
    }
    .card-product__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .card-product__media-wrapper {
        max-width: calc(40% - 30px);
        margin-right: 30px;
    }
    .card-product__content {
        max-width: 60%;
        width: 100%;
        padding-top: 10px;
    }
}

.card-product__desc {
    display: block;
}

.template-main-collection__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    margin: 0 -1rem -3rem;
    list-style: none;
    padding: 0;
    @media screen and (min-width: 991px){
        margin: 0 -1.5rem -3rem;
    }
}

.template-main-collection__item {
    padding: 0 1rem 3rem;
    @media screen and (min-width: 991px){
        padding: 0 1.5rem 3rem;
    }
    .card-product__media {
      background: var(--color-white);
      box-shadow: 0 3px 7px rgba(0,0,0, .15);
    }
    .card-product__image,
    .card-product__image--second {
      height: calc(100% - 20px);
      width: calc(100% - 20px);
      margin: 10px;
    }
    .card-product__media::after {
      content: "";
      border: solid 10px var(--color-white);
      height: 100%;
      width: 100%;
      position: absolute;
      left:0;
      top: 0;
    }
    .card-product__btns {
        .card-product__button-wishlist {
            .icon-heart {
                display: none;
            }
            .icon-trash {
                display: block;
            }
        }
    }
    
}


