
.collections-default {
    .head-alignment--left {
        text-align: left;
    }
    
    .head-alignment--right {
        text-align: right;
    }
    
    .head-alignment--center {
        text-align: center;
    }
    
    color: var(--text-color-main-list-collections);
    background: var(--background-color-main-list-collections);
    padding-top: calc(.7*var(--pad-top-main-list-collections));
    padding-bottom: calc(.7*var(--pad-bot-main-list-collections));
    @media screen and (min-width: 991px) {
        padding-top: var(--pad-top-main-list-collections);
        padding-bottom: var(--pad-bot-main-list-collections);
    }
    .pagination__item {
        color: var(--title-color-main-list-collections);
        &:hover {
            color: var(--color-primary);
        }
    }
    
    .list-collections-grid {
        margin-bottom: -3rem;
    }

    .list-collections-grid__item {
        padding-bottom: 3rem;
    }
    
    @media screen and (min-width: 768px) {
        .col-md-custom {
            flex: auto;
            width: 33.3%;
        }
    }

    @media screen and (min-width: 991px) {
        .col-lg-custom {
            flex: 0 0 auto;
            width: 20%;
        }
    }

    .card-collection__media-wrapper {
        margin-bottom: 2rem;
    }

    .card-collection__media {
        transition: all .3s ease;
        a {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        &:hover {
            box-shadow: 0 0 15px rgba(0,0,0, .2);
            .card-collection__image {
                transform: scale(1.1);
            }
        }
    }

    .card-collection__image {
        transition: all .3s ease;
        transform: scale(1);
    }

    .card-collection__content {
        &.card-collection__content--left {
            text-align: left;
        }

        &.card-collection__content--right {
            text-align: right;
        }

        &.card-collection__content--center {
            text-align: center;
        }

        h3 {
            margin-bottom: .5rem;
            font-size: calc(var(--font-heading-scale) * 1.4rem);
            svg {
                width: 20px;
                height: 20px;
                vertical-align: middle;
                margin-left: auto;
            }
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: var(--title-color-main-list-collections);
                &:hover {
                    color: var(--color-primary);
                }
            }
        }

        h5 {
            font-weight: 400;
            margin-bottom: 0;
            color: var(--text-color-main-list-collections);
        }
    }

    .list-collections-box {
        display: flex;
        align-items: center;
    }
    .list-collections-count {
        order: 1;
        margin-bottom: 0;
        padding-right: 30px;
    }
    .pagination-wrapper {
        order: 2;
        margin-left: auto;
        .pagination__item--next {
            padding-left: 0;
        }
        .pagination__item--prev {
            padding-right: 0;
        }
    }
    
    @media screen and (max-width: 767px) {
        .list-collections-box { 
            display: block;
        }
        .list-collections-count {
            margin-bottom: 3rem;
            padding-right: 0;
            text-align: center;
        }
        .list-collections-grid {
            overflow: auto;
            flex-wrap: nowrap;
            padding-top: 15px;
            margin-top: -15px;
        }
    }
}
