.cart-overlay {
    display: none;
}

.template-cart .cart-page-link {
    pointer-events: none;
}

.cart-drawer {
    position: relative;
    width: 100%;
    box-shadow: none;
    transform: none;
    z-index: 1;
    padding-top: calc(.7*var(--pad-top-main-cart));
    padding-bottom: calc(.7*var(--pad-bot-main-cart));
    @media screen and (min-width: 991px) {
        padding-top: var(--pad-top-main-cart);
        padding-bottom: var(--pad-bot-main-cart);
    }
    .container {
        max-width: var(--width-main-cart);
    }
    &.full_width--true {
        .container {
            max-width: 100%!important;
        }
    }
    .icon-sad {
        width: 40px;
        height: 40px;
    }
    .container {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .cart-drawer__items {
        width: calc(70% - 30px);
        margin-right: 30px;
        @media (min-width: 768px) and (max-width: 1199px) { 
            margin-right: 20px;
            width: calc(60% - 20px);
        }
        @media (min-width: 320px) and (max-width: 767px) { 
            width: 100%;
            margin-right: 0;
        }
        .ajax-cart__line-item {
            padding: 20px;
            border: .1rem solid var(--cart-drawer-divider-color);
            margin-bottom: 20px;
            @media (min-width: 768px) and (max-width: 1199px) { 
                padding: 15px;
                margin-bottom: 15px;
            }
            @media (min-width: 320px) and (max-width: 767px) { 
                padding: 10px;
                margin-bottom: 10px;
            }
            .ajax-cart-item__media {
                width: 110px;
            }
            .ajax-cart-caption {
                display: block;
            }
            .ajax-cart-item__details {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: calc(100% - 110px);
                
                .ajax-cart-item__details--left {
                    width: calc(60% - 30px);
                    padding-right: 30px;
                    @media (min-width: 320px) and (max-width: 990px) { 
                        width: 100%;
                        padding-right: 0;
                    }
                }
                .ajax-cart-item__quantity {
                    padding: 0 30px 0 0;
                }
                .ajax-cart-total {
                    margin-left: auto;
                    @media (min-width: 320px) and (max-width: 990px) { 
                        margin-left: 0;
                    }
                }
                .ajax-cart-remove {
                    margin-left: auto;
                }
                .ajax-cart__remove-button {
                    position: relative;
                    top: 0;
                    left: 0;
                    right: 0;
                    padding: 0 0 0 30px;
                }
            }
        }
        .ajax-cart__line-item-grouped {
            padding: 20px;
            @media (min-width: 768px) and (max-width: 1199px) { 
                padding: 15px;
            }
            @media (min-width: 320px) and (max-width: 767px) { 
                padding: 10px;
            }
            .ajax-cart__line-item {
                padding: 0;
                border: none;
                margin-bottom: 0;
            }
        }
        .icon-plus {
            display: none;
        }
    }
    .cart-drawer-form {
        width: 30%;
        @media (min-width: 768px) and (max-width: 1199px) { 
            width: 40%;
        }
        @media (min-width: 320px) and (max-width: 767px) { 
            width: 100%;
        }
        .cart-drawer__footer-toggler {
            margin-bottom: 30px;
            margin-top: 30px;
            padding-left: 0;
            //padding-right: 0;
            @media (min-width: 768px) and (max-width: 1199px) { 
                margin: 20px 0;
            }
            .icon {
                right: 0;
            }
            
        }
        @media (min-width: 768px) { 
            .cart-drawer__footer-toggler {
                pointer-events: none;
                .icon-plus {
                    display: none;
                }
                .icon-minus {
                    display: block;
                }
            }
            .cart-drawer__footer-content {
                max-height: inherit;
                padding-left: 0;
                padding-right: 0;
            }
        }
        .cart-drawer__property-label {
            @media (min-width: 768px) and (max-width: 990px) { 
                margin: 5px 0;
            }
            @media (min-width: 320px) and (max-width: 767px) { 
                margin: 5px 0;
                display: block;
                width: 100%;
            }
        }
        .cart-drawer__property label {
            @media (min-width: 320px) and (max-width: 990px) { 
                margin-top: 5px;
                margin-bottom: 5px;
                
            }
        }
        .cart-drawer__checkout-btn {
            border-radius: var(--button-border-radius);
            font-size: 20px;
            letter-spacing: 1px;
        }
        #cart-drawer_note {
            width: 100%;
        }
        .cart-drawer-shipping__wrapper {
            margin: 0;
            max-width: inherit;
        }
    }
    #cart-recommend {
        width: 100%;
        margin-top: 30px;
        @media (min-width: 1200px) { 
            margin-top: 50px;
        }
    }
    #estimate-shipping {
        @media (min-width: 320px) and (max-width: 767px) { 
            margin-bottom: -31px;
        }
    }
    .estimate-shipping-toggler {
        border-top: .1rem solid var(--cart-drawer-divider-color);
        border-bottom: .1rem solid var(--cart-drawer-divider-color);
        padding: 1rem 2rem 1rem 0;
        cursor: pointer;
        position: relative;
        margin: 30px 0;
        @media (min-width: 768px) and (max-width: 1199px) { 
            margin: 20px 0;
        }
        @media (min-width: 320px) and (max-width: 767px) { 
            margin-bottom: 0;
        }
        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: auto;
            margin: auto 0;
            height: 2rem;
            width: 2rem;
            line-height: 2rem;
        }
        .icon-minus {
            display: none;
        }
    }
    .estimate-shipping-property {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        span {
            min-width: 90px;
            display: block;
            padding-right: 10px;
            @media (min-width: 768px) and (max-width: 1199px) { 
                margin: 5px 0;
            }
            @media (min-width: 320px) and (max-width: 767px) { 
                margin: 5px 0;
                display: block;
                width: 100%;
            }
        }
        input, select {
            width: 200px;
            height: 40px;
        }
    }
    @media (min-width: 768px) { 
        .estimate-shipping-toggler {
            pointer-events: none;
            .icon-plus {
                display: none;
            }
            .icon-minus {
                display: block;
            }
        }
        .estimate-shipping-content {
            max-height: inherit;
            padding-left: 0;
            padding-right: 0;
        }
    }

    #shipping-rates {
        margin-top: 30px;
        background-color: var(--color-input-background);
        border: 0.1rem solid var(--color-input-border);
        padding: 10px;
    }
    
}

.estimate-shipping-show .estimate-shipping-toggler .icon-plus
     {
        display: none;
    }

.estimate-shipping-show .estimate-shipping-toggler .icon-minus {
    display: block;
}

.js-ajax-cart-empty form {
    display: none;
}

.estimate-shipping-content {
	padding: 0;
	max-height: 0;
	overflow: hidden;
	transition: all .3s;
}

.estimate-shipping-show .estimate-shipping-content {
	max-height: 38rem;
	padding: 2rem 0;
}

.cart-drawer__footer-content {
    @media (min-width: 320px) and (max-width: 767px) { 
       padding: 0;
    }
}

.cart-drawer-show-footer .cart-drawer__footer-content {
    @media (min-width: 320px) and (max-width: 767px) { 
       padding: 0;
    }
}
