
main-search .spinner {
  width: 5rem;
  height: 5rem;
  line-height: 0;
}

.template-main-search__loading-state {
  display: none;
}

main-search[loading] .template-main-search__loading-state {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

main-search[loading] .template-main-search__result_summary,
main-search[loading] .template-main-search__wrapper,
main-search[loading] .tabs-content__wrapper {
  display: none;
}

.template-main-search {
  .spinner {
    animation: rotator 1.4s linear infinite;
  }
  
  @keyframes rotator {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }
  
  .path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: var(--color-dark) !important;
    animation: dash 1.4s ease-in-out infinite;
  }
  
  @media screen and (forced-colors: active) {
    .path{
      stroke: CanvasText;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 280;
    }
    50% {
      stroke-dashoffset: 75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 280;
      transform: rotate(450deg);
    }
  }
}

.template-main-search__wrapper {
  width: auto;
  margin: 0 auto;
}

.template-main-search__wrapper .tabs {
  display: flex;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 25px 0 20px;
  padding: 0;
  column-gap: 40px;
  font-family: var(--america-mono-font);
}

.template-main-search__wrapper .tabs li {
  list-style-type: none;
  margin-left: 4px;
  margin-right: 4px;
}

.template-main-search__wrapper .tabs li button {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  line-height: 20px;
  padding: 0 0 2px 0;
  background-color: transparent;
  color: var(var(--color-primary-button-text));

}

.template-main-search__wrapper .tabs li button.active,
.template-main-search__wrapper .tabs li button:hover {
  color: var(--color-primary-button-text);
  border-color: var(--color-primary-button-text);
}

.template-main-search__header {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-secondary-button-background);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.template-main-search__search {
  max-width: 750px;
  margin: 0 auto;
}

.template-main-search__search .field {
  position: relative;
}

.template-main-search__search .field .icon {
  display: block;
  color: var(--color-secondary-button-text);
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
  pointer-events: none;
}

.template-main-search__search .field .icon svg {
  width: 27px;
  height: 27px;
}

.template-main-search__search .field .search__input {
    border: none;
    font-size: 4.6rem;
    font-weight: 300;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid var(--color-secondary-button-text);
    color: var(--color-secondary-button-text);
    padding: 0 50px 0 0;
    margin-bottom: 0;
    letter-spacing: -0.04em;
    -webkit-appearance: none;
    outline-offset: unset;
    border-radius: 0;
    text-transform: capitalize;

}

.template-main-search__search .field .search__input::-webkit-search-decoration,
.template-main-search__search .field .search__input::-webkit-search-cancel-button,
.template-main-search__search .field .search__input::-webkit-search-results-button,
.template-main-search__search .field .search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.template-main-search__search .field .search__input:focus {
  outline: none;
}

.template-main-search__search .field .search__input::placeholder {
  color: var(--color-dark);
}

.template-main-search__search .field .search__input::-webkit-input-placeholder {
  color: var(--color-dark);
}

.template-main-search__search .field .search__input::-moz-placeholder {
  color: var(--color-dark);
}

.template-main-search__search .field .search__input:-ms-input-placeholder {
  color: var(--color-dark);
}

.template-main-search__search .field .search__input::-ms-input-placeholder {
  color: var(--color-dark);
}

.template-main-search__result_summary {
  text-align: left;
  color: var(--color-primary-button-text);
  font-size: 18px;
  line-height: 1.4;
  text-transform: capitalize;
  width: auto;
  margin: 3rem auto 0;
}

.search__button .icon {
  height: 1.8rem;
}

.tabs-content__wrapper .grid__item {
  transition: all 200ms ease-in-out;
}

.load-more__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  transition: all 200ms ease-in-out;
  @media screen and (max-width: 767px) {
    justify-content: center;
    flex-direction: column;
  }
}

.load-more__wrapper p {
  font-size: 1.4rem;
  line-height: 1.8;
  @media screen and (max-width: 767px) {
    order: 2;
  }
}

.load-more__wrapper button {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    margin: 0 auto 3rem;
    order: 1;
  }
}

.tabs-content.articles {
    padding-top: calc(.7*var(--pad-top-featured-posts));
    padding-bottom: calc(.7*var(--pad-bot-featured-posts));
    color: var(--text-post-color-featured-posts);
    @media screen and (min-width: 991px) {
        padding-top: var(--pad-top-featured-posts);
        padding-bottom: var(--pad-bot-featured-posts);
    }
  .container {
      max-width: var(--width-featured-posts);
  }
  &.full_width--true {
      .container {
          max-width: 100%;
      }
  }
}

.template-main-search-tabs__list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  margin: 0 -1rem -3rem;
  @media screen and (min-width: 991px){
    margin: 0 -1.5rem -3rem;
  }
  &.columns--4 {
    .template-main-search-tabs__item {
        max-width: 25%;
        width: 100%;
    }
  }
  &.columns--3 {
    .template-main-search-tabs__item {
        max-width: 33.33%;
        width: 100%;
    }
  }
  &.columns--2 {
    .template-main-search-tabs__item {
        max-width: 50%;
        width: 100%;
    }
  }
}

.template-main-search-tabs__item {
  padding: 0 1rem 3rem;
  @media screen and (min-width: 991px){
    padding: 0 1.5rem 3rem;
  }
}

@media screen and (max-width: 480px) {

}
