.blog-articles {
  margin: 0 auto;
  padding: 5rem 2.4rem 3.5rem;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  position: relative;
  z-index: 1;
}

@media all and (max-width: 749px) {
  .blog-articles {
    padding: 5rem 2rem 3.5rem;
  }
}

.blog-articles__article {
  width: 25%;
  max-width: 25%;
  flex-grow: 1;
  flex-shrink: 0;
}

.blog-articles__layout--true .blog-articles__article {
  width: 33.33%;
  max-width: 33.33%;
}

.blog-articles__layout--true .blog-articles__article:nth-child(5n+4) .article-card__flex ,
.blog-articles__layout--true .blog-articles__article:nth-child(5n) .article-card__flex {
  display: flex;
  flex-wrap: wrap;
}

.blog-articles__layout--true .blog-articles__article:nth-child(5n+4) .article-card__excerpt ,
.blog-articles__layout--true .blog-articles__article:nth-child(5n) .article-card__excerpt {
  width: 70%;
}

.blog-articles__layout--true .blog-articles__article:nth-child(5n+4) .article-card__footer ,
.blog-articles__layout--true .blog-articles__article:nth-child(5n) .article-card__footer {
  margin-left: auto;
}

.blog-articles__layout--true .blog-articles__article:nth-child(5n+4),
.blog-articles__layout--true .blog-articles__article:nth-child(5n) {
  width: 50%;
  max-width: 50%;
}

@media all and (max-width: 960px) {
  .blog-articles__article {
    width: 50%;
    max-width: 50%;
  }

  .blog-articles__layout--true .blog-articles__article {
    width: 50%;
    max-width: 50%;
  }

  .blog-articles__layout--true .blog-articles__article:nth-child(3n) {
    width: 100%;
    max-width: 100%;
  }

  .blog-articles__layout--true .blog-articles__article:nth-child(5n+4) .article-card__flex ,
  .blog-articles__layout--true .blog-articles__article:nth-child(5n) .article-card__flex {
    display: block;
  }

  .blog-articles__layout--true .blog-articles__article:nth-child(5n+4) .article-card__excerpt ,
  .blog-articles__layout--true .blog-articles__article:nth-child(5n) .article-card__excerpt {
    width: 100%;
  }
}

.main-blog_tags {
  margin: .6rem 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

@media all and (max-width: 960px) {
  .main-blog_tags { 
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.main-blog__tags--link {
  border: 1px solid var(--color-secondary-button-background);
  border-radius: var(--button-border-radius);
  background: none;
  padding: .4rem 1rem .6rem;
  display: inline-block;
  color: var(--color-secondary-button-background);
  text-decoration: none;
  margin-right: .8rem;
  margin-bottom: .8rem;
  margin-top: .8rem;
  text-transform: capitalize;
}

.main-blog__tags--link:hover {
  color: var(--color-secondary-button-text);
  border: 1px solid var(--color-secondary-button-background);
  background-color: var(--color-secondary-button-background);
}

.main-blog__tags--link .icon-close {
  width: 12px;
  height: 12px;
  margin-left: .5rem;
  position: relative;
  top: .2rem;
}

.main-blog__tags--clear {
  color: var(--color-link-text);
  text-underline-offset: 3px;
  padding: .4rem 1rem .6rem;
  display: inline-block;
  text-decoration: underline;
}

.main-blog__tags--clear:hover {
  color: var(--color-link-text);
  text-decoration: none;
}

.main-blog__title-filter {
  padding-right: 8px;
  display: inline-block;
}

.article-card {
  padding: 0 1rem 6.5rem 1rem;
}

@media all and (max-width: 749px) {
  .article-card {
    padding: 0 1rem 3rem 1rem;
  }
}

.article-card__image {
  position: relative;
  padding-top: 70%;
  overflow: hidden;
  border-radius: 3px;
}

.article-card__image img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.article-card__info {
  padding: 0;
}

.article-card__image-wrapper {
  margin-bottom: .8rem;
}

.article-card__caption {
  font-family: var(--america-mono-font);
  margin-bottom: .5rem;
  text-transform: capitalize;
  display: none;
  font-weight: 500;
}

.article-card__caption--state {
  display: block;
}

@media all and (max-width: 749px) {
  .article-card__caption {
    display: block;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

.article-card__title {
  margin-bottom: 1.8rem;
  text-transform: none;
}

.article-card__title a {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: var(--color-primary);
}

.article-card__title a:hover {
  color: var(--color-link-text);
}

@media all and (max-width: 749px) {
  .article-card__title a {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.article-template__tags {
  margin: 0 0 8px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  scroll-snap-type: x mandatory;
}

.article-template__tags::-webkit-scrollbar {
  display: none;
}

.article-template__tags--item {
  margin-right: .8rem;
  margin-bottom: .8rem;
  flex: 0 0 auto;
}

@media all and (max-width: 749px) {
  .article-template__tags--item {
    margin-right: .5rem;
  }
}

.article-template__tags--link {
  border: 1px solid var(--color-secondary-button-background);
  line-height: 1.6rem;
  padding: .2rem .8rem;
  text-decoration: none;
  color: var(--color-secondary-button-background);
  display: inline-block;
  text-transform: capitalize;
  border-radius: var(--button-border-radius);
}

.article-template__tags--link:hover {
  color: var(--color-subdued);
  border-color: var(--color-subdued);
}

.article-template__tags--link.current {
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.article-card__excerpt {
  margin-bottom: 1.5rem;
}

.article-card__link {
  padding: 0;
  text-underline-offset: 3px;
  background: none!important;
  font-weight: bold;
  color: var(--color-link-text)!important;
  border: none;
}

@media all and (max-width: 749px) {
  .article-card__link {
   font-size: 1.4rem;
  }
}

.article-card__link:hover {
  text-decoration: underline;
}

.article-card__link svg.icon {
  width: 12px;
  height: auto;
}

.main-blog .pagination-wrapper {
  margin: 0 0 5rem 0;
}

.main-blog__load-more-container {
  margin: 3.5rem 0 5em;
  text-align: center;
  display: block;
}

.main-blog__product-count {
  color: #666;
  margin-bottom: 2rem;
  /*font-family: 'Helvetica';*/
  letter-spacing: -0.02em;
}

.main-blog__load-more-button {
  border-color: var(--color-button-ink);
  border-radius: 0;
  color: var(--color-black);
  font-family: var(--floyd-font);
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.4;
  padding: 1rem 2rem;
}

@media all and (min-width: 749px) {
  .main-blog__load-more-container {
    margin: 0 0 5rem 0;
  }
}
