<div class="featured-list-collections">
    <div class="featured-list-collections__content">
        <div class="featured-list-collections__box">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'default' %}
                        {{ 'section-featured-list-collections-default.css' | asset_url | stylesheet_tag }}
                        {% render 'list-collections-style-default', block: block %}
                    {% when 'grid' %}
                        {{ 'section-featured-list-collections-grid.css' | asset_url | stylesheet_tag }}
                        {% render 'list-collections-style-grid', block: block %}
                    {% when 'collage' %}
                        {{ 'section-featured-list-collections-collage.css' | asset_url | stylesheet_tag }}
                        {% render 'list-collections-style-collage', block: block %}
                    {% when 'block' %}
                        {{ 'section-featured-list-collections-block.css' | asset_url | stylesheet_tag }}
                        {% render 'list-collections-style-block', block: block %}
                {% endcase %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "List collections banner",
    "tag": "section",
    "class": "index-section",
    "settings": [],
    "blocks": [
        {
            "type": "default",
            "name": "Default list style",
            "settings": [
                {
                    "type": "text",
                    "id": "collections_sub_heading",
                    "default": "Image banner",
                    "label": "Sub Heading"
                },
                {
                    "type": "text",
                    "id": "collections_title",
                    "default": "Image banner",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "collections_text",
                    "label": "Heading"
                },
                {
                    "type": "select",
                    "id": "head_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Head Text alignment"
                },
                {
                    "type": "collection_list",
                    "id": "featured_collections",
                    "label": "Featured Collections"
                },
                {
                    "type": "range",
                    "id": "columns_desktop",
                    "min": 2,
                    "max": 6,
                    "step": 1,
                    "default": 4,
                    "label": "Number of columns on desktop"
                },
                {
                    "type": "select",
                    "id": "columns_mobile",
                    "default": "2",
                    "label": "Number of columns on mobile",
                    "options": [
                        {
                            "value": "1",
                            "label": "1 column"
                        },
                        {
                            "value": "2",
                            "label": "2 columns"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "img_size",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "cropped",
                            "label": "Cropped"
                        },
                        {
                            "value": "landscape",
                            "label": "Landscape"
                        },
                        {
                            "value": "square",
                            "label": "Square"
                        },
                        {
                            "value": "portrait",
                            "label": "Portrait"
                        },
                        {
                            "value": "circle",
                            "label": "Circle"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Text alignment"
                },
                {
                    "type": "paragraph",
                    "content": "Style options"
                },
                {
                    "type": "color",
                    "id": "block_color",
                    "label": "Background Color"
                },
                {
                    "type": "color",
                    "id": "sub_title_color",
                    "label": "Sub Title color"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title color"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text color"
                },
                {
                    "type": "checkbox",
                    "id": "count_products",
                    "default": true,
                    "label": "Show count Products"
                },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "default": false,
                    "label": "Enabled full width?"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding top",
                    "default": 30
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding bottom",
                    "default": 30
                }
            ]
        },
        {
            "type": "grid",
            "name": "Grid style",
            "settings": [
                {
                    "type": "text",
                    "id": "collections_sub_heading",
                    "default": "Image banner",
                    "label": "Sub Heading"
                },
                {
                    "type": "text",
                    "id": "collections_title",
                    "default": "Image banner",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "collections_text",
                    "label": "Heading"
                },
                {
                    "type": "select",
                    "id": "head_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Head Text alignment"
                },
                {
                    "type": "collection_list",
                    "id": "featured_collections",
                    "label": "Featured Collections"
                },
                {
                    "type": "range",
                    "id": "columns_desktop",
                    "min": 2,
                    "max": 6,
                    "step": 1,
                    "default": 4,
                    "label": "Number of columns on desktop"
                },
                {
                    "type": "select",
                    "id": "columns_mobile",
                    "default": "2",
                    "label": "Number of columns on mobile",
                    "options": [
                        {
                            "value": "1",
                            "label": "1 column"
                        },
                        {
                            "value": "2",
                            "label": "2 columns"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "img_size",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "cropped",
                            "label": "Cropped"
                        },
                        {
                            "value": "landscape",
                            "label": "Landscape"
                        },
                        {
                            "value": "square",
                            "label": "Square"
                        },
                        {
                            "value": "portrait",
                            "label": "Portrait"
                        },
                        {
                            "value": "circle",
                            "label": "Circle"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Text alignment"
                },
                {
                    "type": "paragraph",
                    "content": "Style options"
                },
                {
                    "type": "color",
                    "id": "block_color",
                    "label": "Background Color"
                },
                {
                    "type": "color",
                    "id": "sub_title_color",
                    "label": "Sub Title color"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title color"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text color"
                },
                {
                    "type": "paragraph",
                    "content": "Style options content collection"
                },
                {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Background Overlay Color"
                },
                {
                    "type": "range",
                    "label": "Overlay opacity",
                    "id": "opacity",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background Cover Color"
                },
                {
                    "type": "color",
                    "id": "link_color",
                    "label": "Link color"
                },
                {
                    "type": "color",
                    "id": "link_hover_color",
                    "label": "Link Hover color"
                },
                {
                    "type": "color",
                    "id": "count_color",
                    "label": "Count Text color"
                },
                {
                    "type": "checkbox",
                    "id": "count_products",
                    "default": true,
                    "label": "Show count Products"
                },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "default": false,
                    "label": "Enabled full width?"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding top",
                    "default": 30
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding bottom",
                    "default": 30
                }
            ]
        },
        {
            "type": "collage",
            "name": "Collage style",
            "settings": [
                {
                    "type": "text",
                    "id": "collections_sub_heading",
                    "default": "Image banner",
                    "label": "Sub Heading"
                },
                {
                    "type": "text",
                    "id": "collections_title",
                    "default": "Image banner",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "collections_text",
                    "label": "Heading"
                },
                {
                    "type": "select",
                    "id": "head_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Head Text alignment"
                },
                {
                    "type": "collection_list",
                    "id": "left_collections",
                    "limit": 2,
                    "label": "Featured Collections Left Column"
                },
                {
                    "type": "collection_list",
                    "id": "center_collections",
                    "limit": 1,
                    "label": "Featured Collections Center Column"
                },
                {
                    "type": "collection_list",
                    "id": "right_collections",
                    "limit": 2,
                    "label": "Featured Collections Right Column"
                },
                {
                    "type": "select",
                    "id": "order_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "center",
                    "label": "Order Collections alignment"
                },
                {
                    "type": "select",
                    "id": "img_size",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "cropped",
                            "label": "Cropped"
                        },
                        {
                            "value": "landscape",
                            "label": "Landscape"
                        },
                        {
                            "value": "square",
                            "label": "Square"
                        },
                        {
                            "value": "portrait",
                            "label": "Portrait"
                        },
                        {
                            "value": "circle",
                            "label": "Circle"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Text alignment"
                },
                {
                    "type": "paragraph",
                    "content": "Style options"
                },
                {
                    "type": "color",
                    "id": "block_color",
                    "label": "Background Color"
                },
                {
                    "type": "color",
                    "id": "sub_title_color",
                    "label": "Sub Title color"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title color"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text color"
                },
                {
                    "type": "paragraph",
                    "content": "Style options content collection"
                },
                {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Background Overlay Color"
                },
                {
                    "type": "range",
                    "label": "Overlay opacity",
                    "id": "opacity",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background Cover Color"
                },
                {
                    "type": "color",
                    "id": "link_color",
                    "label": "Link color"
                },
                {
                    "type": "color",
                    "id": "link_hover_color",
                    "label": "Link Hover color"
                },
                {
                    "type": "color",
                    "id": "count_color",
                    "label": "Count Text color"
                },
                {
                    "type": "checkbox",
                    "id": "count_products",
                    "default": true,
                    "label": "Show count Products"
                },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "default": false,
                    "label": "Enabled full width?"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding top",
                    "default": 30
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding bottom",
                    "default": 30
                }
            ]
        },
        {
            "type": "block",
            "name": "Block style",
            "settings": [
                {
                    "type": "text",
                    "id": "collections_sub_heading",
                    "default": "Image banner",
                    "label": "Sub Heading"
                },
                {
                    "type": "text",
                    "id": "collections_title",
                    "default": "Image banner",
                    "label": "Heading"
                },
                {
                    "type": "richtext",
                    "id": "collections_text",
                    "label": "Heading"
                },
                {
                    "type": "select",
                    "id": "head_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Head Text alignment"
                },
                {
                    "type": "collection_list",
                    "id": "top_collections",
                    "limit": 3,
                    "label": "Featured Collections Top Row"
                },
                {
                    "type": "collection_list",
                    "id": "bot_collections",
                    "limit": 3,
                    "label": "Featured Collections Bottom Row"
                },
                {
                    "type": "select",
                    "id": "order_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Order Collections alignment"
                },
                {
                    "type": "select",
                    "id": "img_size",
                    "label": "Image size",
                    "options": [
                        {
                            "value": "cropped",
                            "label": "Cropped"
                        },
                        {
                            "value": "landscape",
                            "label": "Landscape"
                        },
                        {
                            "value": "square",
                            "label": "Square"
                        },
                        {
                            "value": "portrait",
                            "label": "Portrait"
                        },
                        {
                            "value": "circle",
                            "label": "Circle"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left",
                    "label": "Text alignment"
                },
                {
                    "type": "paragraph",
                    "content": "Style options"
                },
                {
                    "type": "color",
                    "id": "block_color",
                    "label": "Background Color"
                },
                {
                    "type": "color",
                    "id": "sub_title_color",
                    "label": "Sub Title color"
                },
                {
                    "type": "color",
                    "id": "title_color",
                    "label": "Title color"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text color"
                },
                {
                    "type": "paragraph",
                    "content": "Style options content collection"
                },
                {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Background Overlay Color"
                },
                {
                    "type": "range",
                    "label": "Overlay opacity",
                    "id": "opacity",
                    "min": 1,
                    "max": 10,
                    "step": 1,
                    "default": 1
                },
                {
                    "type": "color",
                    "id": "background_color",
                    "label": "Background Cover Color"
                },
                {
                    "type": "color",
                    "id": "link_color",
                    "label": "Link color"
                },
                {
                    "type": "color",
                    "id": "link_hover_color",
                    "label": "Link Hover color"
                },
                {
                    "type": "color",
                    "id": "count_color",
                    "label": "Count Text color"
                },
                {
                    "type": "checkbox",
                    "id": "count_products",
                    "default": true,
                    "label": "Show count Products"
                },
                {
                    "type": "checkbox",
                    "id": "full_width",
                    "default": false,
                    "label": "Enabled full width?"
                },
                {
                    "type": "range",
                    "id": "padding_top",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding top",
                    "default": 30
                },
                {
                    "type": "range",
                    "id": "padding_bottom",
                    "min": 0,
                    "max": 60,
                    "step": 5,
                    "unit": "px",
                    "label": "Padding bottom",
                    "default": 30
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "List collections banner"
        }
    ]
}
{% endschema %}
