<div class='page-width index-section'>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem reiciendis suscipit sint inventore quae!
        Veniam ipsam, commodi expedita magni atque similique reiciendis obcaecati recusandae mollitia sequi amet
        consequuntur incidunt nisi.
    </p>
    <p class='font-large'>Larger paragraph font</p>
    <p class='utility'>Utility</p>

    <blockquote>Blockquote</blockquote>

    <ul>
        <li>List element</li>
        <li>List element</li>
        <li>List element</li>
        <li>List element</li>
    </ul>

    <ol>
        <li>List element</li>
        <li>List element</li>
        <li>List element</li>
        <li>List element</li>
    </ol>

    <p>
        <a href='#'>Inline link</a>
    </p>
    <p>
        <caption>
            Table caption text
        </caption>
    </p>

    <table>
        <thead>
            <tr>
                <th>Column</th>
                <th>Column</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Value 1</td>
                <td>Value 2</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Colors:</h3>

    <p class='color-primary'>Primary</p>
    <p class='color-secondary'>Secondary</p>
    <p class='color-success'>Success</p>
    <p class='color-info'>Info</p>
    <p class='color-warning'>Warning</p>
    <p class='color-danger'>Danger</p>
    <p class='color-light'>Light</p>
    <p class='color-dark'>Dark</p>
    <p class='color-black'>Black</p>
    <p class='color-white'>White</p>
    <p class='color-input-border'>Input Border</p>
    <p class='color-input-background'>Input Background</p>
    <p class='color-focus'>Focus</p>
    <p class='color-error'>Error</p>

    <h3>Form elements</h3>

    <form action=''>
        {% render 'success-message', mod_message: 'Form Level Success Message!' %}
        {% render 'error-message', mod_message: 'Form Validation' %}

        <div class='form-row'>
            <h3>Error input</h3>
            {% render 'input',
                mod_input_id: 'user-email',
                mod_input_name: 'user-email',
                mod_input_type: 'email',
                mod_input_label: 'Email',
                mod_custom_input_classes: 'has-error'
            %}
            {% render 'error-message',
                mod_message: 'Please enter a valid email',
                mod_is_input: true,
                mod_is_inline: true
            %}
        </div>
        <div class='form-row'>
            <h3>Normal input</h3>
            {% render 'input',
                mod_input_id: 'user-name',
                mod_input_name: 'user-name',
                mod_input_type: 'text',
                mod_input_label: 'Name',
                mod_input_placeholder: 'Enter name'
            %}
        </div>
        <div class='form-row'>
            <h3>Custom select</h3>
            {% render 'select',
                mod_input_id: 'user-subject',
                mod_input_name: 'user-subject',
                mod_input_label: 'Subject',
                mod_is_required: true
            %}
        </div>
        <div class='form-row'>
            <h3>Normal select</h3>
            <div class='input-label'>
                <label class='label' for='normal_drop'>Subject</label>
                <select name='normal' id='normal_drop'>
                    <option value='v1'>option 1</option>
                    <option value='v2'>option 2</option>
                </select>
            </div>
        </div>
        <div class='form-row'>
            <h3>Input (text)</h3>
            {% render 'input',
                mod_input_id: 'user-address',
                mod_input_name: 'user-address',
                mod_input_label: 'Address',
                mod_input_placeholder: 'Enter address'
            %}
        </div>
        <div class='form-row'>
            <h3>Input (textarea)</h3>
            {% render 'input',
                mod_input_id: 'user-message',
                mod_input_name: 'user-message',
                mod_use_textarea: true,
                mod_input_label: 'Message',
                mod_input_placeholder: 'Enter message'
            %}
        </div>
        <div class='form-row'>
            <h3>Radio and checkbox</h3>
            <input type='radio' id='my-radio'>
            <label for='my-radio'>Label</label>
            <input type='checkbox' id='my-checkbox'>
            <label for='my-checkbox'>Label</label>
        </div>
        <div class='form-row form-row--submit'>
            <button type='button'>Button primary</button>
            <button type='button' disabled>Button primary</button>
        </div>
        <div class='form-row form-row--submit'>
            <button type='button' class='button button--secondary'>Button secondary</button>
            <button type='button' class='button button--secondary' disabled>Button secondary</button>
            <button type='button' class='button button--link'>Button link</button>
            <button type='button' class='button button--link' disabled>Button link</button>
        </div>
    </form>
    <hr>
    <p>
        <span class='badge'>% Badge</span>
    </p>
</div>
<style>
    .index-section form {
        width: 50%;
    }
    @media screen and (max-width: 750px) {
        .index-section form {
            width: 100%;
        }
    }
</style>
