{% liquid
    assign new_badge = settings.new_badge
    assign show_vendor = settings.show_vendor
    assign show_rating = settings.show_rating
    assign add_btn = settings.enable_add_btn
    assign btn = settings.btn
    assign variant_type = settings.variant
    assign prod_img_size = settings.prod_img_size
    assign secondary_image = settings.show_secondary_image
    assign notify_me = settings.notify_me

    assign price_variant = settings.price_variant

    assign url = canonical_url | url_decode | split: '?'
    assign url = url[1] | split: '='
%}

{%- if url != blank -%}
    <div class="js-page-block">
        <ul class="template-main-collection__list grid product-grid columns-mobile--1 columns--4">
            {%- for item in url -%}
                {% if item != 'handle' %}
                    {%- assign product = all_products[item] -%}
                    <li class="grid__item template-main-collection__item js-card-item">
                        {% render 'card-product',
                            product: product,
                            show_vendor: show_vendor,
                            show_rating: show_rating,
                            new_badge: new_badge,
                            show_quantity: false,
                            use_variant: price_variant,
                            variant_type: variant_type,
                            add_btn: add_btn,
                            btn: btn,
                            img_size: prod_img_size,
                            secondary_image: secondary_image,
                            notify_me: notify_me,
                            image_custom: false,
                            fill: false
                        %}
                    </li>
                {% endif %}
            {%- endfor -%}
        </ul>
    </div>
{%- endif -%}
