.recently__products {
  background-color: var(--background-color-recently-viewed);
  padding-top: calc(0.7 * var(--pad-top-recently-viewed));
  padding-bottom: calc(0.7 * var(--pad-bot-recently-viewed));
  color: var(--text-color-recently-viewed);
  margin-top: 0;
}
@media screen and (min-width: 991px) {
  .recently__products {
    padding-top: var(--pad-top-recently-viewed);
    padding-bottom: var(--pad-bot-recently-viewed);
  }
}
.recently__products .page-width {
  max-width: var(--width-recently-viewed);
}
.recently__products.full_width--true .page-width {
  max-width: 100%;
}
.recently__products .card-product__title a {
  color: var(--title-post-color-recently-viewed);
}
.recently__products .card-product__title a:hover {
  color: var(--link-post-color-recently-viewed);
}
.recently__products.content--left {
  text-align: left;
}
.recently__products.content--right {
  text-align: right;
}
.recently__products.content--right .card-post-template__tags,
.recently__products.content--right .card-product__price .price__box,
.recently__products.content--right .swatch-wrap .swatch--product {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.recently__products.content--right .card-post__tags--item {
  margin-left: 0.8rem;
}
.recently__products.content--center {
  text-align: center;
}
.recently__products.content--center .card-post-template__tags,
.recently__products.content--center .card-product__price .price__box,
.recently__products.content--center .swatch-wrap .swatch--product {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recently__products.content--center .card-post__tags--item {
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

@media screen and (min-width: 750px) {
  .product-recommendations {
    padding-top: var(--pad-top-recently-viewed);
    padding-bottom: var(--pad-bot-recently-viewed);
  }
}