.head-alignment--left {
  text-align: left;
}

.head-alignment--right {
  text-align: right;
}

.head-alignment--center {
  text-align: center;
}

.collections-list__head {
  margin-bottom: 4rem;
}

.featured-list-collections__sub_heading {
  color: var(--sub_title_color-list-collections-default);
}

.featured-list-collections__heading {
  color: var(--title-color-list-collections-default);
  margin-bottom: 1rem;
}

.featured-list-collections__text p {
  margin-bottom: 0;
}

.collections-default {
  color: var(--text-color-list-collections-default);
  background: var(--background-color-list-collections-default);
  padding-top: var(--pad-top-list-collections-default);
  padding-bottom: var(--pad-bot-list-collections-default);
}
.collections-default .list-collections-grid {
  margin-bottom: -3rem;
}
.collections-default .list-collections-grid__item {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .collections-default .col-md-custom {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 33.3%;
  }
}
@media screen and (min-width: 991px) {
  .collections-default .col-lg-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
}
.collections-default .card-collection__media-wrapper {
  margin-bottom: 2rem;
}
.collections-default .card-collection__media {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collections-default .card-collection__media a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.collections-default .card-collection__media:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.collections-default .card-collection__media:hover .card-collection__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.collections-default .card-collection__image {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.collections-default .card-collection__content.card-collection__content--left {
  text-align: left;
}
.collections-default .card-collection__content.card-collection__content--right {
  text-align: right;
}
.collections-default .card-collection__content.card-collection__content--center {
  text-align: center;
}
.collections-default .card-collection__content h3 {
  margin-bottom: 0.5rem;
}
.collections-default .card-collection__content h3 a {
  text-decoration: none;
}
.collections-default .card-collection__content h5 {
  font-weight: 400;
  margin-bottom: 0;
  color: var(--text-color-list-collections-default);
}

.collections-grid {
  color: var(--text-color-list-collections-grid);
  background: var(--background-color-list-collections-grid);
  padding-top: var(--pad-top-list-collections-grid);
  padding-bottom: var(--pad-bot-list-collections-grid);
}
.collections-grid .list-collections-grid {
  margin-bottom: -3rem;
}
.collections-grid .list-collections-grid__item {
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .collections-grid .col-md-custom {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 33.3%;
  }
}
@media screen and (min-width: 991px) {
  .collections-grid .col-lg-custom {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
}
.collections-grid .card-collection:hover .card-collection__content h3 span {
  color: var(--link-hover-color-list-collections-grid);
}
.collections-grid .card-collection:hover .card-collection__content h3 span:after {
  background: var(--color-primary);
  opacity: 0.8;
}
.collections-grid .card-collection__media-wrapper {
  margin-bottom: 2rem;
}
.collections-grid .card-collection__media {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collections-grid .card-collection__media::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--overlay-color-list-collections-grid);
  opacity: var(--overlay_opacity-list-collections-grid);
  z-index: 0;
}
.collections-grid .card-collection__media a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.collections-grid .card-collection__media:hover {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.collections-grid .card-collection__media:hover .card-collection__image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.collections-grid .card-collection__image {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.collections-grid .card-collection {
  position: relative;
}
.collections-grid .card-collection__content {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 2rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.collections-grid .card-collection__content.card-collection__content--left {
  text-align: left;
}
.collections-grid .card-collection__content.card-collection__content--right {
  text-align: right;
}
.collections-grid .card-collection__content.card-collection__content--center {
  text-align: center;
}
.collections-grid .card-collection__content h3 {
  margin-bottom: 0.5rem;
}
.collections-grid .card-collection__content h3 span {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--link-color-list-collections-grid);
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collections-grid .card-collection__content h3 span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--background-cover-color-list-collections-grid);
  border-radius: var(--button-border-radius);
  opacity: 0.5;
  z-index: -1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.collections-grid .card-collection__content h5 {
  font-weight: 400;
  margin-bottom: 0;
  color: var(--count-color-list-collections-grid);
}

@media screen and (max-width: 767px) {
  .list-collections-grid {
    overflow: auto;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}