
.rating {
  display: inline-block;
  margin: 1rem 0 0 0;
}

.main-product .rating-star {
  --letter-spacing: 0.2;
  --font-size: 2.2;
}

.card-product__content .rating-star,
.item-rating .rating-star {
  --letter-spacing: 0.4;
  --font-size: 1.7;
}

.rating-star {
  --percent: calc(
    (
        var(--rating) / var(--rating-max) + var(--rating-decimal) *
          var(--font-size) /
          (var(--rating-max) * (var(--letter-spacing) + var(--font-size)))
      ) * 100%
  );
  letter-spacing: calc(var(--letter-spacing) * 1rem);
  font-size: calc(var(--font-size) * 1rem);
  line-height: 1;
  display: inline-block;
  margin: 0;
}

.rating-star::before {
  content: '★★★★★';
  background: linear-gradient(
    90deg,
    var(--color-dark) var(--percent),
    rgba(0,0,0, 0.15) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating-text {
  display: none;
}

.rating-count {
  display: inline-block;
  margin: 0;
  position: relative;
  top: -1px;
}

@media (forced-colors: active) {
  .rating {
    display: none;
  }

  .rating-text {
    display: block;
  }
}

#shopify-product-reviews .spr-icon.spr-icon-star:before,
.spr-starrating .spr-icon:before,
.spr-starratings .spr-icon:before {
    content: "\2605";
    color: rgba(0,0,0,0.15);
    color: var(--color-dark);
}

#shopify-product-reviews .spr-icon.spr-icon-star.spr-icon-star-empty:before,
.spr-starrating .spr-icon.spr-icon-star-empty:before,
.spr-starratings .spr-icon.spr-icon-star-empty:before {
  content: "\2605";
  color: rgba(0,0,0,0.15);
  opacity: 1;
}
.spr-starrating .spr-icon.spr-icon-star-half-alt:before {
  content: "\2605";
  background: linear-gradient(
    90deg,
    var(--color-dark) 50%,
    rgba(0,0,0, 0.15) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#shopify-product-reviews .spr-icon.spr-icon-star.spr-icon-star-hover:before {
  content: "\2605";
  color: var(--color-primary);
  opacity: 1;
  
}
