
@media screen and (max-width: 990px) {
    .overflow-hidden {
        overflow: hidden;
    }

    .header__logo-wrapper {
        text-align: left;
        margin-left: 3rem;
    }
    
    .header__menu--right,
    .header__icon-open {
        display: block;
        height: 2rem;
    }
    
    .header__menu--right .header__menu-item-link {
        font-size: 2rem;
    }

    .icon-close , .icon-hamburger {
        width: 2rem;
        height: 2rem;
        margin: auto;
    }
  
    .header__icon-open a {
        display: inline-block;
    }

    .header__menu--mobile,
    .header__menu-item-text {
        display: none;
    }

    .header__menu--overlay {
        margin: 0;
        display: flex;
        background: rgba(0,0,0, .3);
        width: calc(100% - 32rem);
        overflow-y: scroll;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        transition: all .3s ease;
        backface-visibility: hidden;
        visibility: hidden;
        transform: translate(-100%,0);
    }
  
    .header__menu--overlay.menu-opening {
        visibility: visible;
        transform: translate(32rem,0);
    }
  
    .header__menu--mobile {
        padding: 0;
        margin: 0;
        background: var(--header-background-color);
        display: block;
        width: 32rem;
        overflow: hidden;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        transition: all .3s ease;
        backface-visibility: hidden;
        transform: translate(-100%,0);
        visibility: hidden;
        /*height: calc(100vh - 100%);
        height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));*/
    }
  
    .header__menu--mobile.menu-opening {
        visibility: visible;
        transform: translate(0,0);
    }
  
    .header__menu__inner-container {
        position: relative;
        height: 100%;
    }
  
    .header__menu__navigation-container {
        overflow-y: auto;
        height: 100%;
    }
  
    .header__menu-list--mobile {
        padding: 7.7rem 2rem;
        margin: 0;
        list-style: none;
        background: var(--header-background-color);
        display: block;
    }
  
    .icon-caret {
        display: none;
        pointer-events: none;
    }
  
    .mega-menu__next-button {
        padding: .4rem .8rem;
        margin-left: auto;
    }
  
    .icon-arrow {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        pointer-events: none;
    }
  
    .icon-close , .icon-hamburger {
        width: 2rem;
        height: 2rem;
        margin: auto;
    }
  
    .header__icon-box {
        display: block;
        position: fixed;
        background: var(--header-background-color);
        padding: 2rem;
        left: 0;
        top: 0;
        text-align: right;
        width: 32rem;
        z-index: 2;
        padding-top: 2.9rem;
    }
  
    .header__icon-close {
        display: inline-block;
        margin-right: auto;
    }
  
    .mega-menu__back {
        position: fixed;
        background: var(--header-background-color);
        padding: 2rem;
        left: 0;
        top: 0;
        width: 32rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }
  
    .mega-menu__back-button {
        padding-left: 2rem;
        padding-right: 2rem;
    }
  
    .mega-menu__back-close {
        display: inline-block;
        height: 2rem;
    }
  
    .mega-menu__back-button .icon-caret {
        display: block;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        transform: rotate(90deg);
    }
  
    .icon-close path {
        fill: var(--color-link-text);
    }
  
    .header__menu-item--mobile {
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid var(--header-text-color);
    }
  
    .header__menu-item-summary {
        display: flex;
        align-items: center;
    }
  
    .header__menu-item-link--mobile {
        font-size: 1.6rem;
        line-height: 2rem;
        text-transform: uppercase;
        padding-right: 2rem;
        position: relative;
        display: block;
        width: 100%;
        text-decoration: none;
    }
  
    .js-mega-menu-title {
        display: block;
        width: 100%;
    }
  
    .mega-menu {
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background: var(--header-background-color);
        z-index: 10;
        transform: translate(100%);
        visibility: hidden;
        transition: all .3s ease;
        backface-visibility: hidden;
    }
  
    .mega-menu.mega-menu--open {
        transform: translate(0);
        visibility: visible;
    }
  
    .mega-menu__wrapper {
        padding: 9rem 2rem;
        overflow: auto;
        height: 100%;
    }
  
    .mega-menu__list-column-title {
        margin-top: 0;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
    }
  
    .mega-menu__submenu {
        padding: 9rem 2rem;
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background: var(--header-background-color);
        z-index: 10;
        transform: translate(100%);
        visibility: hidden;
        transition: all .3s ease;
        backface-visibility: hidden;
    }
  
    .mega-menu__submenu.mega-menu--open {
        transform: translate(0);
        visibility: visible;
    }
  
    .mega-menu__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
  
    .mega-menu__list-badge {
        font-size: 1.2rem;
        line-height: 1.4rem;
        text-decoration: none;
        margin-left: .4rem;
        color: var(--header-badge-color);
        border-radius: .3rem;
        padding: .1rem .4rem;
        float: right;
    }
  
    .mega-menu__list-item-link {
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: var(--font-heading-family);
        font-style: var(--font-heading-style);
        font-weight: var(--font-heading-weight);
        color: var(--color-link-text);
        display: inline-block;
        margin-bottom: 2rem;
    }
  
    .mega-menu__column-image {
        position: relative;
        margin: 0 -2rem;
        padding-top: 50%;
    }
  
    .mega-menu__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .simple-menu {
        padding: 9rem 2rem;
        position: absolute;
        top: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background: var(--header-background-color);
        z-index: 10;
        transform: translate(100%);
        visibility: hidden;
        transition: all .3s ease;
        backface-visibility: hidden;
    }
  
    .simple-menu.mega-menu--open {
        transform: translate(0);
        visibility: visible;
    }
  
    .simple-menu__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }
  
    .simple-menu__list-item-link {
        font-size: 1.2rem;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-family: var(--font-heading-family);
        font-style: var(--font-heading-style);
        font-weight: var(--font-heading-weight);
        color: var(--color-link-text);
        display: inline-block;
        margin-bottom: 2rem;
    }
  
    .mega-menu__media {
        display: none;
    }
  
    .mega-menu__block {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
}