.swiper-container,
.swiper-gallery-box {
	position: relative;
	overflow: hidden;
	padding-top: 50px;
	margin-top: -50px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
	margin-right: -15px;
	.swiper-button-prev, .swiper-button-next {
		color: var(--color-link-text);
		width: 28px;
		height: 28px;
		background: rgba(247,248,250, .8);
		top: 22px;
		border-radius: 100%;
		transition: all .3s ease;
		svg {
			width: 1.2rem;
			height: 1.2rem;
		}
		&:hover {
			color: var(--color-link-hover-text);
		}
		&:after {
			display: none;
		}
		&:hover {
			background: var(--color-primary);
			color: var(--color-white);
			fill: var(--color-white);
		}
	}
	.swiper-button-next {
		right: 15px;
    	z-index: 16;
	}
	.swiper-button-prev {
		left: auto;
		right: 60px;
    	z-index: 16;
	}
}

.template-page-compare {
	.swiper-container {
		.swiper-button-next {
			right: 15px;
			z-index: 16;
			top: 57px;
		}
		.swiper-button-prev {
			left: auto;
			right: 60px;
			z-index: 16;
			top: 57px;
		}

	}
}
