.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.container, .page-width {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.full_width--true {
    .container, .page-width {
        max-width: 100%;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: -10px;
    margin-left: -10px;
}
.row>*{
    box-sizing:border-box;
    flex-shrink:0;
    width:100%;
    max-width:100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:0;
}

@media screen and (min-width: 991px) {
    .container, .page-width {
      padding: 0 2.5rem;
    }
    .row{
        margin-right: -15px;
        margin-left: -15px;
    }
    .row>*{
        padding-right: 15px;
        padding-left: 15px;
    }
}

.text-alignment--left {
    text-align: left;
}

.text-alignment--right {
    text-align: right;
}

.text-alignment--center {
    text-align: center;
}

div.swiper-pagination {
    position: relative;
    margin-top: 5rem;
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: var(--color-light);
        box-shadow: inset 0 0 5px rgba(0,0,0, .3);
        margin: 0 6px;
    }
    .swiper-pagination-bullet-active {
        background: var(--color-primary);
        box-shadow: inherit;
    }
}

/* Only desktop viewport animation */
@media screen and (min-width: 990px) {
    .section-fade {
      opacity: 0;
    }

    .section-move-top {
        opacity: 0;
        transform: translate(0, 30px);
    }
  
    .section-move-right {
      opacity: 0;
      transform: translateY(30px);
    }
  
    .section-move-bottom {
      opacity: 0;
      transform: translateY(-30px);
    }
  
    .in-viewport-section {
      opacity: 1;
      transition: all .5s ease-in-out;
      transform: translate(0,0);
    }
}

/* base */

.no-js:not(html) {
    display: none !important;
}
  
html.no-js .no-js:not(html) {
    display: block !important;
}
  
.no-js-inline {
    display: none !important;
}
  
html.no-js .no-js-inline {
    display: inline-block !important;
}

html.no-js .no-js-hidden {
    display: none !important;
}

.hide-text {
    overflow: hidden;
    padding: 0; /* 1 */
    text-indent: 101%;
    white-space: nowrap;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: .1rem;
    margin: -.1rem;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: .1rem;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .small-hide {
        display: none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 989px) {
    .medium-hide {
        display: none !important;
    }
}

@media screen and (min-width: 990px) {
    .large-up-hide {
        display: none !important;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.light {
    opacity: 0.7;
}

.visibility-hidden {
    visibility: hidden;
}

.focus-none {
    box-shadow: none !important;
    outline: 0 !important;
}

/* component-grid */

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-left: -0.5rem;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 768px) {
    .grid {
        margin-left: -1rem;
    }
}

.grid__item {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    width: calc(25% - 0.5rem * 3 / 4);
    max-width: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}

.grid--1-col .grid__item {
    max-width: 100%;
    width: 100%;
}

.grid--3-col .grid__item {
    width: calc(33.33% - 0.5rem * 2 / 3);
}

@media screen and (min-width: 768px) {
    .grid--3-col .grid__item {
        width: calc(33.33% - 1rem * 2 / 3);
    }
}

.grid--2-col .grid__item {
    width: calc(50% - 0.5rem / 2);
}

@media screen and (min-width: 768px) {
    .grid--2-col .grid__item {
        width: calc(50% - 1rem / 2);
    }

    .grid--4-col-tablet .grid__item {
        width: calc(25% - 1rem * 3 / 4);
    }

    .grid--3-col-tablet .grid__item {
        width: calc(33.33% - 1rem * 2 / 3);
    }

    .grid--2-col-tablet .grid__item {
        width: calc(50% - 1rem / 2);
    }
}

@media screen and (min-width: 990px) {
    .grid--4-col-desktop .grid__item {
        width: calc(25% - 1rem * 3 / 4);
    }

    .grid--3-col-desktop .grid__item {
        width: calc(33.33% - 1rem * 2 / 3);
    }

    .grid--2-col-desktop .grid__item {
        width: calc(50% - 1rem / 2);
    }
}

/* component-media */

.media {
    position: relative;
    display: block;
    height: 0;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.media__size--cropped {
    padding-top: 56%;
}

.media__size--landscape {
    padding-top: 66.6%;
}

.media__size--square {
    padding-top: 100%;
}

.media__size--portrait {
    padding-top: 125%;
}

.media__size--circle {
    padding-bottom: 100%;
    border-radius: 50%;
}

.media__image {
    display: block;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.media--16-9 {
    padding-bottom: 56.25%;
}

deferred-media {
    display: block;
}

.building {
	float:left;
}

@mixin transition() {
 -webkit-transition:.4s cubic-bezier(.19,1,.22,1);
-moz-transition:.4s cubic-bezier(.19,1,.22,1);
-o-transition:.4s cubic-bezier(.19,1,.22,1);
transition: .4s cubic-bezier(.19,1,.22,1);
}

.drooltipLoaderWrapper { 
    float:left;width:15px; height:15px; padding:2px; left:50%;
    position:relative;
    transform:translateX(-50%);
}
.drooltipLoader {
    border-radius: 100%;
    display:block;
    width:100%;
    height:100%;
    animation-name: drooltipPreloader;
    animation-duration: 0.4s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    @include transition();
    &.stop {
        animation:none;
        transform:scale(0);
    }
}

.drooltip {
    position: absolute;
    padding: 5px 10px;
    font-size: 10px;
    z-index:99999;
    max-width:150px;
    transform-origin: center 100%;
    opacity:0;
    .bg {
        position:absolute;
        top:0;
        left:0;
        bottom:0;
        width:100%;
        height:100%;
        z-index:0;
        box-shadow: 0 1px 42px -3px rgba(0, 0, 0, 0.3);
        border-radius: 2px;
        transform-origin:inherit;
        display: inline-block!important;
    }   
    .content {
        position:relative;
        float:left;
        width:100%;
        z-index:1;
        transform-origin:inherit;
        @include transition();
        &.showDynamic {
            opacity:0;
        }
    } 

    &.drooltipMaterial {
        transform-origin: center center;
        .bg {
            height:0;
            @include transition;
            box-shadow: none;
            transform:scale(0);

        }
        .content {
            @include transition;
            transform:scale(0) translateY(20px);
            opacity:0;
        }
        &.animate {
            .bg {
                height:100%;
                box-shadow: 0 1px 42px -3px rgba(0, 0, 0, 0.3);
                transform:scale(1);
            }
            .content {
                transform:scale(1) translateY(0);
                opacity:1;
            }
        }
    }

    &.loaded { 
        @include transition();
        opacity:1;
    }
    &.hideTooltip {
        display:none;
        opacity:0;
        cursor-pointer:none;
        pointer-events:none;
        &.fake {
            display:block; 
            opacity:0;
            pointer-events:none;
            cursor:none;
            transition:none;
        }
        
    }
    &.drooltipBounce {
		animation-name: drooltipBounce;
		animation-duration: 0.2s;
        animation-fill-mode: forwards;
		&.out {
	    	animation-name: drooltipBounceOut;
	    }
    }

    &.drooltipFloat {
        animation-name: drooltipFloatVertical;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        &.right, &.left {
            animation-name: drooltipFloatHorizontal;
        }
    }

    &.drooltipFade {
		animation-name: drooltipFade;
        animation-duration: 0.2s;
		animation-fill-mode: forwards;
		&.out {
	    	animation-name: drooltipFadeOut;
	    }
    }

    &:after {
    	content: ' ';
	    height: 0;
	    position: absolute;
	    width: 0;
	    border: 6px solid transparent;
	    border-top-color: inherit;
	    /* left: 255px; */
	    z-index: 2;
	    bottom: 0;
	    left: 50%;
	    transform: translateX(-50%);
        opacity:0;
        transition: 0.2s ease-in-out;
    }
    &.showArrow {
       &:after { bottom: -11px; opacity:1; }
    }
    &.bottom {
    	transform-origin: center 0;
    	&:after {
    		bottom: auto;
    		top:0;
    		border-top-color: transparent;
    		border-bottom-color:inherit;
    	}
        &.showArrow {
           &:after { top: -11px; }
        }
    }
    &.right {
    	transform-origin: 0 center;
    	&:after {
    		bottom: auto;
    		left:0;
    		border-top-color: transparent;
    		border-right-color:inherit;
    		top:50%;
    		transform:translateY(-50%);
    	}
        &.showArrow {
           &:after { left: -11px; }
        }
    }
    &.left {
    	transform-origin: 100% center;
    	&:after {
    		left:auto;
    		bottom: auto;
    		border-top-color: transparent;
    		border-left-color:inherit;
    		top:50%;
    		transform:translateY(-50%);
            right:0;
    	}
        &.showArrow {
           &:after { right: -11px; }
        }
    }
}

@keyframes drooltipPreloader {
    0%   { transform:scale(0); }
    50%  { transform:scale(1.1); }
    100% { transform:scale(1); }
}

@keyframes drooltipBounce {
    0%   { transform:scale(0); }
    50%  { transform:scale(1.1); }
    100% { transform:scale(1); }
}

@keyframes drooltipBounceOut {
    0%   { transform:scale(1); }
    50%  { transform:scale(1.1); }
    100% { transform:scale(0); }
}

@keyframes drooltipFade {
    0%   { opacity:0; }
    100% { opacity:1; }
}
@keyframes drooltipFadeOut {
    0%   { opacity:1; }
    100% { opacity:0; }
}

@keyframes drooltipFloatVertical {
    0%   { transform: translateY(0px); }
    50%   { transform:  translateY(5px); }
    100% { transform:  translateY(0px); }
}

@keyframes drooltipFloatHorizontal {
    0%   { transform: translateX(0px); }
    50%   { transform:  translateX(5px); }
    100% { transform:  translateX(0px); }
}


